body{
    margin: 0;
    font-family: 'helvetica';
    color: black;
}

header {
    display: flex;
    justify-content: flex-start;
    border-bottom: solid #000 1rem;  
    /* background-color:  #c1cdb8; */
    
    
}

.instagram {
      margin-bottom:0;
      width: 10%;
      margin-top: 0;
      padding: 20px 1rem;
}

.logo {
    width: 45%;
    object-fit: scale-down;
    padding-right: 15px;
}

.logo {
    width: 15%;
    object-fit: scale-down;
    mix-blend-mode: color-burn;
    padding: 2rem 3rem;
}

h3 {
    margin: 10px 0;
}

li {
    padding: 5px 0;
}

.namn {
    display: flex;
    justify-content: center;
}

.verticalText {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-width: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
  
}



footer {
    text-align: center;
    background-color:  #c1cdb8;
    /* background-color:  #5553ec; */
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 16px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    color: black;
    padding:0 20px 0 0;
}

img {
    width: 40%;
}

article {
    display: grid;
    /* background: whitesmoke; */
    /* padding: 1rem 1.2rem; */
    padding: 2rem;
    /* background:  #5553ec; */
}

.two_box_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        "left_image    right_text"
        "left_text     right_text"
        "left_text     right_text"
        "last_left_text     last_right_text"
}

.text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.coverImage{
    width: 100%;
    min-height: 28rem;
    object-fit: cover;
    height: 35rem;
}

.leftImage{
    grid-area: left_image; 
    padding: 0;
    background-color: #5553ec;
    border: solid #000 1rem;
    border-top: 0;
}

.leftText {
    grid-area: left_text;
    border: solid #000 1rem;  
    border-top: none;
}

.rightText {
    grid-area: right_text;
    border: solid #000 1rem;
    border-top: none;
    border-left: none;  
}

.lastLeftText {
    grid-area: last_left_text;
    border: solid #000 1rem;  
    border-top: none; 
}

.lastRightText {
    grid-area: last_right_text;
    border: solid #000 1rem;  
    border-top: none;
    border-left: none;  
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1100px) {
    .two_box_grid {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px) {
    .two_box_grid {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }
}
@media only screen and (max-width: 450px) {
    img {
        width: 100%;
    }
    
    article {
        padding: 1rem 1.5rem 2rem;
    }

    .instagram {
        width: 30%;
    }

    .leftText {
        grid-area: left_text;
        border: solid #000 1rem;  
        border-top: none;  
        border-bottom: none; 
    }
    
    .rightText {
        grid-area: right_text;
        border: solid #000 1rem;  
        /* border-bottom: none;   */
    }

    .lastRightText {
        grid-area: right_text;
        border: solid #000 1rem;  
        border-top: none;  
    }
} 

/*Animation bakgrund*/
.permanenta_animation:hover{
  
    animation: back 2s forwards;
  }
  
  @keyframes back {
    0% {
        background: #5553ec;
        /* background: #020024; */
    }
  
    100% {
        background: white;
    }
  }
  
  .next{
    background: #ffdd00;
  }
  
  .text{
    color:#8e96f3;
  }
  
  .relative-container {
    position: relative;
  }
  
  /*Animation text*/
  .span_animation {
    line-height: 3rem;
    background-color: #ad73e9;
    animation: mer 5s ease-in infinite alternate;
    
  }
  
  @keyframes mer {
    from {
        background-color: #2fbc98;
    }
  
    to {
        background-color: #5553ec;
    }
  }