body{
    margin: 0;
    font-family: 'helvetica';
}

.two_box_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
 
    /*Här styr vi layouten på sidan*/
    grid-template-areas:
        "areaOne          content_text_1"
        "content_text_2     content_2"
        "content_3          content_text_3"
        "content_text_4     content_4"
        "content_5          content_text_5"
        "content_text_6     content_6"
}

p{
    font-size: 16px;
    font-weight: bold;
}
.text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    color: black;
    padding: 0;
}

article {
    grid-area: areaOne;
    display: grid;
    background: whitesmoke;
    padding: 1rem 1.2rem;
    border: solid pink 1rem;  
}

.content_text_1 {
    grid-area: content_text_1;
    display: grid;
    background: whitesmoke;
    padding: 1rem;
    /* font-family: 'helvetica';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px; */
    border: solid red 1rem;  
}

.content_2 {
    grid-area: content_2;
    width: auto;
    display: flex;
    flex-grow: 1;
}

.content_text_2 {
    grid-area: content_text_2;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
    padding: 5rem;
    font-family: 'helvetica';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    border: solid #5553ec 1rem; 
}

.content_3 {
    grid-area: content_3;
}

.content_text_3 {
    grid-area: content_text_3;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
    padding: 5rem;
    font-family: 'helvetica';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    border: solid #5553ec 1rem; 
}

.content_4{
    grid-area: content_4;
    width: auto;
    display: flex;
    flex-grow: 1;
}

.content_text_4 {
    grid-area: content_text_4;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
    padding: 5rem;
    font-family: 'helvetica';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    border: solid #5553ec 1rem; 
}


.content_5 {
    grid-area: content_5;
}

.content_text_5 {
    grid-area: content_text_5;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
    padding: 5rem;
    
    font-family: 'helvetica';
    font-size: 22px;
    border: solid #5553ec 1rem; 
}

.content_6 {
    grid-area: content_6;
    width: auto;
    display: flex;
    flex-grow: 1;
}

.content_text_6 {
    grid-area: content_text_6;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
    padding: 5rem;
    font-family: 'helvetica';
    font-weight: bold;
    
    text-transform: uppercase;
    font-size: 22px;
    border: solid #5553ec 1rem; 
}

button{
    padding:0.6rem;
    margin-top:1rem;
    border: none;
    font-family: 'helvetica';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px; 
}

button:focus{
    outline: none;
}

@media only screen and (max-width: 1100px) {
    .two_box_grid {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px) {
    .two_box_grid {
        display: flex;
        flex-direction: column;
    }
    button{
        padding:0.5rem;
    }
}
@media only screen and (max-width: 450px) {
    .areaOne {
        padding: 1rem 1.5rem 2rem;
    }
 
    .content_text_1 {
        padding: 1rem 1.5rem 2rem;
    }
 
    .content_text_2 {
        padding: 1rem 1.5rem 2rem;
    }
    .content_text_3 {
        padding: 1rem 1.5rem 2rem;
    }
    .content_text_4{
        padding: 1rem 1.5rem 2rem;
    }
    .content_text_5 {
        padding: 1rem 1.5rem 2rem;
    }
    .content_text_6 {
        padding: 1rem 1.5rem 2rem;
    }
} 

/*Animation bakgrund*/
.permanenta_animation{
    background: white;
    animation: back 12s ease-in infinite alternate;
  }
  
  @keyframes back {
    from {
        background: #020024;
    }
  
    to {
        background: #5553ec;
    }
  }
  
  .flik{
    position: absolute;
    bottom: 1;
    top: 0;
    left: 0;
    right: 1;
    font-weight: bold;
    padding: 1rem 1.5rem;
    font-family: 'helvetica';
  }
  
  .next{
    background: #ffdd00;
  }
  
  .text{
    color:#8e96f3;
  }
  
  .relative-container {
    position: relative;
  }
  
  /*Animation text*/
  .span_animation {
    line-height: 3rem;
    color: #ad73e9;
    animation: mer 9s ease-in infinite alternate;
    
  }
  
  @keyframes mer {
    from {
        color: #2fbc98;
    }
  
    to {
        color: #02b9de;
    }
  }